-# @expects: local 'collection'
- page ||= ""
- paginate ||= false
- title ||= "Small list of items"
- subtitle ||= "Subtitle of small list of items"
- button_title ||= false
-# TODO:: make caching work
-# TODO - RB - WTF? how to make generic?
- cache_if false, :generic_items_html do
  -#%div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}

  .panel-1
    -# change the class where "active" is to switch out the icon in the background.
    .panel-bar
        %h2= title
        - unless button_title === false
          %a{ :href => new_story_path }
            = button_title

    .item-list-wrap
      .item-list
        %ul
          - collection.each do |item|
            %li= d2_render_generic_item item