-# @expects: local 'list_title, item_list'
%div{:class => "panel-1 #{defined?(widget_page) ? widget_page.css_class : ''}"}
  .panel-bar
    %h2= list_title
  .item-list-wrap
    .item-list
      %ul
        - item_list.each do |item|
          %li
            = render :partial => 'shared/items/small_generic', :locals => { :item => item }
