.panel-1
  -#change the class where "active" is to switch out the icon in the background.
  %div.panel-bar{:class => vo.setting.css_class}
    - if vo.setting and vo.setting.locale_title
      %h2= vt.t(vo.setting.locale_title)
      - if vo.setting.use_post_button
        = post_something vo.setting.klass_name
  .item-list-wrap
    .item-list
      %ul
        - vo.dataset.each_with_index do |item, index|
          %li
            %h5= link_to sanitize_title(item.item_title), item.item_link, :class => 'ellipsis_text'
            .item-meta-data
              %h6= action_links(item)