#col_left
  .panel-2
    .panel-bar.clearfix
      %h2 Post a story
    .panel_block
      .item-block
        - form_for @story, :url => stories_path do |form|
          = render :partial => 'story_form', :locals => { :form => form }
          = form.submit "Post Story"
