#external-header-wrap.clearfix
  #external-header
    .site-icon
      = image_tag('skin/icon-fan-app.gif')
    %h2 Site Name Title
    %a{:href => '#'}
      Back to Main site
  #external-details
    .content
      %h3 Article title as read on n2 platform
      %h6 
        posted by 
        %a soandso 
        several days ago
    .add-this-wrap
      add this stuff goes here.