.panel-3
  .feature-panel
    // Large story
    .feature-item-large.first
      = image_tag('skin/medium_watermark.jpg')
      .feature-caption
        %h2 
          %a Sit volup tatem accus antium dolorem que
        %p Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que Sit volup tatem accus antium dolorem que

    // two small stories
    .feature-item-wrap-small
      .feature-item-small.top
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que
      .feature-item-small
        = image_tag('skin/medium_watermark.jpg')
        .feature-caption
          %h3 
            %a Sit volup tatem accus antium dolorem que

    // list of stories
    .feature-item-medium.last
      .item-list-wrap
        .item-list
          %ul
            %li
              %h5 
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
              .item-meta-data
                %h6  
                  By
                  %a Jeff Reifman
                  in
                  %a Blogs
            %li
              %h5 
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
              .item-meta-data
                %h6  
                  By
                  %a Jeff Reifman
                  in
                  %a Blogs
            %li
              %h5 
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
              .item-meta-data
                %h6  
                  By
                  %a Jeff Reifman
                  in
                  %a Blogs
            %li
              %h5 
                %a{ :href => "#"} 
                  Sit volup tatem accus antium dolorem que Sit volup tatem dolorem que Sit volup tatem
              .item-meta-data
                %h6  
                  By
                  %a Jeff Reifman
                  in
                  %a Blogs