.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.form-desc
        %p Hi, Before you begin posting, please sign in or register
      // this part below is more for show than anything else.  I assume you'll use the same code you do for all login requests.
      %fieldset.provider-links
        %a.auth_provider{:href => "#"}
          %img{ :height => '64px', :width =>'64px', :alt => 'facebook'}
        %a.auth_provider{:href => "#"}
          %img{ :height => '64px', :width =>'64px', :alt => 'twitter'}

// NOT PART OF SIMPLE POSTING WIDGET
%br
%br
%br
%br
%br
%br
// NOT PART OF SIMPLE POSTING WIDGET

.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.form-desc
        %p Share a Story
      %fieldset.inputs.share-story-input
        %ol
          %li
            %input{:type => 'text'}
      %fieldset.buttons.share-story-submit
        %ol
          %li{:class => 'commit float-left'}
            %input{:type => 'submit', :class => 'button-input next create', :value => 'Look up!'}

// NOT PART OF SIMPLE POSTING WIDGET
%br
%br
%br
%br
%br
%br
// NOT PART OF SIMPLE POSTING WIDGET

.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.inputs
        .img-rotator-wrap
          .img-viewport-wrap
            .img-viewport
            %a{ :class => 'img-rotate-btn prev'}
            %a{ :class => 'img-rotate-btn next'}
          .no-img-input
            %label
              %input{ :type => 'checkbox'}
              No Image
        .post-input-wrap
          %ol
            %li
              %label Title
              %input{:type => 'text'}
            %li
              %label URL
              %input{:type => 'text'}
            %li
              %label Caption
              %textarea
      %fieldset.media
        %ol
          %li
            %p
              %a.media-link Add Video
          %li
            %p
              %a.media-link Add Audio
      %fieldset.buttons
        %ol
          %li{:class => 'commit float-right'}
            %input{:type => 'submit', :class => 'button-input next create', :value => 'Post!'}

// NOT PART OF SIMPLE POSTING WIDGET
%br
%br
%br
%br
%br
%br
// NOT PART OF SIMPLE POSTING WIDGET

.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.inputs
        .img-rotator-wrap
          .img-viewport-wrap
            .img-viewport
            %a{ :class => 'img-rotate-btn prev'}
            %a{ :class => 'img-rotate-btn next'}
          .no-img-input
            %label
              %input{ :type => 'checkbox'}
              No Image
        .post-input-wrap
          %ol
            %li
              %label Title
              %input{:type => 'text'}
            %li
              %label URL
              %input{:type => 'text'}
            %li
              %label Caption
              %textarea
      %fieldset.media.inputs
        %ol
          %li
            %p
              %a.media-link.active Add Video
            %label Add a video to dipslay along with your story from YouTube or Vimeo
            %input{:type => 'text'}
          %li
            %p
              %a.media-link Add Audio
      %fieldset.buttons
        %ol
          %li{:class => 'commit float-right'}
            %input{:type => 'submit', :class => 'button-input next create', :value => 'Post!'}

// NOT PART OF SIMPLE POSTING WIDGET
%br
%br
%br
%br
%br
%br
// NOT PART OF SIMPLE POSTING WIDGET

.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.inputs
        .img-rotator-wrap
          .img-viewport-wrap
            .img-viewport
            %a{ :class => 'img-rotate-btn prev'}
            %a{ :class => 'img-rotate-btn next'}
          .no-img-input
            %label
              %input{ :type => 'checkbox'}
              No Image
        .post-input-wrap
          %ol
            %li
              %label Title
              %input{:type => 'text'}
            %li
              %label URL
              %input{:type => 'text'}
            %li
              %label Caption
              %textarea
      %fieldset.media.inputs
        %ol
          %li
            %p
              %a.media-link Add Video
          %li
            %p
              %a.media-link.active Add Audio
            %label Add an audio file to your article cause it's what all the cool kids are doing.
            %input{:type => 'text'}
      %fieldset.buttons
        %ol
          %li{:class => 'commit float-right'}
            %input{:type => 'submit', :class => 'button-input next create', :value => 'Post!'}

// NOT PART OF SIMPLE POSTING WIDGET
%br
%br
%br
%br
%br
%br
// NOT PART OF SIMPLE POSTING WIDGET

.simple-post-wrap.clearfix
  .close-btn
  .simple-post
    .panel-bar
      %h2 Simple Posting Widget
    %form.formtastic
      %fieldset.inputs
        .img-rotator-wrap
          .img-viewport-wrap
            .img-viewport
            %a{ :class => 'img-rotate-btn prev'}
            %a{ :class => 'img-rotate-btn next'}
          .no-img-input
            %label
              %input{ :type => 'checkbox'}
              No Image
        .post-input-wrap
          %ol
            %li
              %label Title
              %input{:type => 'text'}
            %li
              %label URL
              %input{:type => 'text'}
            %li
              %label Caption
              %textarea
      %fieldset.media.inputs
        %ol
          %li
            %p
              %a.media-link.active Add Video
            %label Add a video to dipslay along with your story from YouTube or Vimeo
            %input{:type => 'text'}
          %li
            %p
              %a.media-link.active Add Audio
            %label Add an audio file to your article cause it's what all the cool kids are doing.
            %input{:type => 'text'}
      %fieldset.buttons
        %ol
          %li{:class => 'commit float-right'}
            %input{:type => 'submit', :class => 'button-input next create', :value => 'Post!'}


