-# @expects: local @idea_board, @title

.panel-1
  .panel-bar
    %h2= t('.title')
  .category-list
    %ul
      - IdeaBoard.active.newest(5).each do |idea_board|
        %li
          %h5= link_to idea_board.name, idea_board
