-# @expects: local @idea_board, @title

.panel_1
  .panelBar
    %h2= t('.title')
  .list_items
    %ul
      - IdeaBoard.active.newest(5).each do |idea_board|
        %li
          .itemBlock
            %h4= link_to idea_board.name, idea_board