-# @expects: local @resources, @title

.panel-1
  .panel-bar
    %h2= title

  .item-list
    %ul.listTags
      - Resource.active.top(5).each do |resource|
        %li
          .item-block
            .profile-pic= local_linked_profile_pic resource.user
            = link_to resource.title, resource_path(resource)
