-# @expects: local @resource_section, @title

.panel-1
  .panel-bar
    %h2= t('.title')
  .item-list
    %ul
      - ResourceSection.active.newest(5).each do |resource_section|
        %li
          .item-block
            %h4= link_to resource_section.name, resource_section