-# @expects: local @resource_section, @title

.panel_1
  .panelBar
    %h2= t('.title')
  .list_items
    %ul
      - ResourceSection.active.newest(5).each do |resource_section|
        %li
          .itemBlock
            %h4= link_to resource_section.name, resource_section