-# @expects: local 'user'

.panel-1
  .panel-bar
    %h2= t('other_posts_by', :fb_name => local_linked_profile_name(user)).html_safe
  .item-list-wrap
    .item-list
      %ul
      - user.other_posts.each do |other_story|
        %li.pad-bottom
          %h5= link_to other_story.title, story_path(other_story)
