%h1.clearfix
  Second layout Sidebar

.panel-1
  .searchBox

.panel-1
  .info-widget
    .item-block
      %h2
        This is the Welcome Panel title!  Two lines of Awesome await!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel-1
  .info-widget
    .thumb.welcome
      = image_tag('skin/generic-profile-pic.jpg')
      = image_tag('skin/icon-mod-badge.png', :class => 'moderator')
    .item-block
      %h2
        This is the Welcome Panel title!  Two lines, Weee!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel-1
  .info-widget
    .thumb.banner
      = image_tag('default/house-ad-banner.jpg')
    .item-block
      %h2
        This is the Welcome Panel title!  Two lines of Awesome await!
      %p
        Post Stories on our site to help you and your community become better informed of the world around you.
      %a.btn
        Post A Story

.panel-1
  .ad_200
    .test-frame.sky-scraper

.panel-1
  .ad_160
    .test-frame.sky-scraper
