.panel-2
  .panel-bar
    %h2
      Top Users

  .item-list-wrap
    .item-list
      %ul
        %li
          .users
            .thumb.user
              = image_tag('default/test-profile-pic.jpg')
              = image_tag('skin/icon-mod-badge.png', :class => 'moderator')
            .item-block
              .float-left{ :style => 'width: 60%' }
                %h2
                  Bob Bobberson
                %p
                  1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials. 1:45PM Officials shut down an N.C. port and urged people to leave the area after nine containers with highly explosive materials were punctured 1:45PM Officials...
              .float-right{ :style => 'width: 35%' }
                %h4.userPoints
                  Total: 10,000
                %h3.userPoints
                  Appreciation: 10,000

