-# @expects: local 'comments'

%a#commentsListTop{:name => "commentsListTop"}
.comment-thread-wrap.panel-2
  - if @comments.present?
    .panel-bar
      -# TODO:: current refine logic only works on lists
      -# if comments.present? and comments.first.refineable?
        .refine-search-wrap
          = render :partial => 'shared/forms/refine_dropdown'
      %h2= t '.comment_title'

    %ul
      = render :partial => 'shared/comment.html', :collection => @comments.active
  - else
    %p= t '.no_comments_msg'
