.panel-2#link-to-item
  .panel-bar
    %h2
      =t('link_here')
  .form-wrap.clearfix
    %form.formtastic
      %fieldset.inputs
        %ol
          %li
            %input.text-field{:type => "text", :value => "#{index_path}",:onclick =>"this.focus();this.select();" }