.panel-2#link-to-item
  .panel-bar
    %h2
      Link to this page
  .form-wrap.clearfix
    %form.formtastic
      %fieldset.inputs
        %ol
          %li.clearfix
            %input{:type => "text", :value => "#{path_to_self item, true}",:onclick =>"this.focus();this.select();" }
