// Skin Variables ----------------------------------------- //

// Text
$primary-body-color: #333
$primary-body-font: lucida grande, tahoma, verdana, arial, "san-serif"
$primary-body-size: 12px
$primary-line-height: 150%
// Headers
$primary-header-color: #000
$secondary-header-color: #6078A9
$tertiary-header-color: #666
$primary-header-font: lucida grande, tahoma, verdana, arial, "san-serif"
$primary-header-link: #000000

// Link Colors
$primary-link-color: #2462E2
$secondary-link-color: #2462E2
$tertiary-link-color: #ff00ff
// Buttons
$primary-btn-bg: #3B5998
$primary-btn-hover: #253E72 
$secondary-btn-bg: #2462E2
$secondary-btn-hover: #2462E2
$tertiary-btn-bg: #ff00ff
$tertiary-btn-hover: #ff00ff
// Background Colors
$primary-bg-color: #FFFFFF
$secondary-bg-color: #3B5998
$tertiary-bg-color: #F1F1F1
// Border Colors
$primary-border-color: #253E72
$secondary-border-color: #CCC


// Grid Variables ----------------------------------------- //
// box-shadow
$box-shadow: 0px 0px 4px #666
// Layout
$gutter: 20px
// Header Font Sizes
$h1-size: 22px
$h2-size: 18px
$h3-size: 14px
$h4-size: 14px
$h5-size: 12px
$h6-size: 11px


// CSS --------------------------------------------------- //
// global ------------------------------ //
body
  color: $primary-body-color
  font-family: $primary-body-font
  font-size: $primary-body-size

// text -------------------------------- //

// headers
h1, h2, h3, h4, h5, h6
  font-family: $primary-header-font
  font-weight: normal
  padding: 0
  margin: 0
  line-height: $primary-line-height
h1, h2, h3, h4, h5
  color: $primary-header-color
  a
    color: $primary-header-color
h1
  font-size: $h1-size

h2
  font-size: $h2-size

h3
  font-size: $h3-size

h4
  font-size: $h4-size
  font-weight: bold

h5
  font-size: $h5-size

h6
  color: $tertiary-header-color
  font-size: $h6-size
// text
a
  color: $primary-link-color
  text-decoration: none
  &:focus
    outline: none
  &:hover
    cursor: pointer
    text-decoration: underline

p
  color: #444
  line-height: 150%
// containers
#page
  width: 960px
  margin: 0 auto

#header, #footer
  width: 960px
  position: relative

#home-content
  float: left
  position: relative
  display: inline
  width: 960px
  z-index: 1


// header ------------------------------ //
#header
  border-bottom: 1px solid $primary-border-color
  margin-bottom: 20px
  background-color: $primary-bg-color
  background-image: image_url("skin/bg-header.gif")
  background-position: bottom left
  background-repeat: no-repeat
  height: 130px
  padding-bottom: 30px
  z-index: 10
  // Site name (h1) or <img>
  #site-name-wrap
    display: block
    position: absolute
    top: 10px
    left: 10px
    #site-name
      color: $primary-bg-color
      display: block
  #site-sponsor
    display: none
  #header-actions
    background: image_url("site/bg-hdr-actions.png") top left repeat-y
    height: 30px
    padding-top: 10px
    padding-left: 60px
    position: absolute
    top: 0px
    right: 0px

// Primary Navigation
#primary-navigation
  position: absolute
  width: 940px
  bottom: 0px
  left: 10px
  z-index: 2
  // parent tabs
  > ul
    float: right
    display: block
    height: 30px
    > li
      margin-left: 1px
      position: relative
      z-index: 10
      // dropdown for current tab
      &.selected
        > ul
          background-color: $primary-bg-color
          border: 1px solid $primary-border-color
          > li
            > a
              color: $primary-border-color
              text-shadow: none
              &:hover
                color: $primary-bg-color
                text-shadow: 1px 1px 1px $primary-border-color
      // hover states
      &:hover
        > a
          background-color: $primary-border-color
          position: relative
          z-index: 10
        > ul
          display: block
      > a
        height: 21px
        padding: 8px 10px 0
        &.selected
          background-color: $primary-bg-color
          height: 22px
          
      // dropdowns
      > ul
        background-color: $primary-border-color
        box-shadow: $box-shadow
        display: none
        float: none
        padding: 5px
        position: absolute
        top: 30px
        right: 0px
        min-width: 120px
        > li
          display: block
          margin: 0
          padding: 0
          z-index: 20
          > a
            color: $primary-bg-color
            display: block
            font-size: $primary-body-size
            padding: 5px 10px
            white-space: nowrap
            text-shadow: 1px 1px 1px $primary-border-color
            &:hover
              background-color: $secondary-bg-color
              text-decoration: none


// Secondary Navigation
#secondary-navigation
  +grid(12)
  border-bottom: 1px solid $primary-border-color
  height: 20px
  margin-bottom: 20px
  // tabs
  > ul
    height: 20px
    padding-left: 10px
    > li
      margin-right: 1px
      > a
        font-size: $primary-body-size - 2px
        height: 14px
        padding: 5px 10px 0
        &.selected
          height: 15px

// Shared Navigation Styles
#primary-navigation, #secondary-navigation
  > ul > li
    display: block
    float: left
  > ul > li > a
    background-color: $secondary-bg-color
    border: 1px solid $primary-border-color
    border-bottom-width: 0
    color: $primary-bg-color
    display: block
    font-weight: bold
    text-decoration: none
    text-shadow: 1px 1px 1px $primary-border-color
    &.selected
      border: 1px solid $primary-border-color
      border-bottom-width: 0
      background-color: $primary-bg-color
      color: #666
      text-decoration: none
      text-shadow: none
      &:hover
        background-color: $primary-bg-color
        text-decoration: none
    &:hover
      background-color: $primary-border-color

// Content ----------------------------- //
// breadcrumbs
.breadcrumbs
  +grid(12)
  margin-bottom: 20px
  position: relative
  > p
    font-weight: bold
    margin-bottom: 0
    > a
      font-weight: normal
    > span
      color: #666

// Panels
.panel-1
  +grid(4)
.panel-2
  +grid(8)
.panel-3
  +grid(12)

// panel margin removal
.panel-1, .panel-2, .panel-3
  .first
    +alpha()
  .last
    +omega()

  .feature-panel
    .first
      +alpha() 
    .last
      +omega()

// Panel Bars
.panel-bar
  border-bottom: 1px solid $secondary-border-color
  padding: 4px 0 0 0
  margin-bottom: 10px
  position: relative
  > h2
    color: $secondary-header-color
    font-size: 12px
    margin-bottom: 0
    text-transform: uppercase
  > .panel-bar-actions
    font-size: 11px
    float: right
    position: absolute
    top: 6px
    right: 0px

// Featured Panels
.feature-panel
  float: left
  margin-bottom: $gutter
  .feature-item-large
    +grid(5)
    position: relative
  .feature-item-medium
    +grid(4)
    position: relative
  .feature-item-wrap-small
    float: left
    +grid(3)
    .feature-item-small
      +grid(3)
      +alpha()
      height: 132px
      overflow: hidden
      position: relative
      &.top
        margin-bottom: $gutter + 1
  // Shared Styles
  .feature-item-small, .feature-item-medium, .feature-item-large
    > img
      width: 100%
      position: relative
      top: 0
      left: 0
    .feature-caption
      background: rgba(0,0,0, 0.5)
      padding: 10px
      position: absolute
      bottom: 0
      left: 0
      right: 0
      h1, h2, h3, h4, h5, h6, p,
        color: #FFF
        text-shadow: 1px, 1px, 1px, #000
        a
          color: #FFF


// Subtitle
.subtitle
  border: 1px solid $secondary-border-color
  background-color: $tertiary-bg-color
  color: #666
  margin-bottom: 10px
  padding: 8px 
.panel-1, .panel-2, .panel-3
  .subtitle
    margin-top: -11px

// Item List
.item-list-wrap
  .item-list
    li
      border-bottom: 1px solid #f1f1f1
      display: block
      padding-bottom: 9px
      margin-bottom: $gutter /2
      // header vertical spacing
      h1, h2, h3, h4, h5, h6 
        margin-bottom: 0


// Full Column ------------------------------------------------------ //
#full-col
  +grid(12)
  .panel-3
    margin-left: 0
    margin-right: 0


// Left Column ------------------------------------------------------ //
#left-col
  +grid(8)
  margin-bottom: $gutter * 2
  .panel-2
    margin-left: 0
    margin-right: 0

// Two Column Widgets
.panel-2
  // two column item list 
  .item-list-wrap
    .item-list
      // shared thumb styling
      .story, .question, .resource, .idea, .article-content, .event-description
        padding-left: 140px
        min-height: 90px
        .thumb
          float: left
          margin-left: -140px
          > img
            width: 118px
            height: 88px
      // styles for news stories, questions, resources and ideas
      .story, .question, .resource, .idea
        .item-meta-data
          padding-left: 50px
          min-height: 40px
          .profile-pic
            float: left
            margin-left: -50px
      // styles for events (interior pages)
      .event
        display: table-row
        > div
          display: table-cell
        .event-description
          padding-left: 0
          width: 75%
          .thumb
            margin-left: 0
          .item-content, .item-meta-data
            margin-left: 140px
            margin-right: 10px
        .item-meta-data
          padding-left: 50px
          min-height: 40px
          .profile-pic
            float: left
            margin-left: -50px
        .event-details
          border-left: 1px solid #ccc
          width: 25%
          font-size: 11px
          h5
            font-weight: bold
            margin-bottom: 5px
            margin-left: 10px
          > p
            margin-bottom: 5px
            padding-left: 10px
            > span
              display: block
              margin-bottom: 5px

// Right Column ------------------------------------------------------ //
#right-col
  +grid(4)
  margin-bottom: $gutter * 2
  .panel-1
    margin-left: 0
    margin-right: 0

// Single Column Widgets
.panel-1
  margin-bottom: $gutter / 2
  // header bottom margin removal
  h3, h4, h5
    margin-bottom: 0
  // panel-content styles
  .panel-content
    margin-bottom: 10px
  // shared list styles
  .item-list-wrap
    .item-list
      > ul > li
        border-bottom: 1px solid #f1f1f1
        display: block
        padding-bottom: 10px
        margin-bottom: 10px
  // recent online users widget
  .users-online
    background-color: #f1f1f1
    display: block
    padding: 10px 5px 0
    margin-top: -10px
    margin-bottom: 20px
    > ul > li
      float: left
      width: 30px
      height: 30px
      margin: 0 5px 10px
      > .profile-pic
        height: 30px
        width: 30px
  // bio widget
  .bio
    font-size: 11px
    .profile-pic
      float: left
      margin-right: 10px
      margin-bottom: 10px






// Thumb
.thumb
  border: 1px solid #CCC

// Profile Pics
.profile-pic
  border: 1px solid #CCC
  width: 38px
  height: 38px
  position: relative
  z-index: 1
  img
    width: 100%
    height: 100%
    z-index: 2
  .moderator
    height: 16px
    width: 16px
    position: absolute
    left: 2px
    bottom: 2px
    z-index: 3

// Meta Data
.item-meta-data
  .meta-data-actions
    font-size: 11px
    padding-top: 5px

// Info Widget (Welcome Panel, What is this? panel, etc...)
.info-widget
  background: #f0f0f0
  margin-bottom: $gutter
  .item-block
    padding: $gutter * .5
    border: 1px solid $secondary-border-color
    min-height: 40px
  .profile
    padding-left: 60px
    .profile-pic
      float: left
      margin-left: -50px
  .actions-wrap
    border: 1px solid $secondary-border-color
    border-top-width: 0
    padding: $gutter * .5
    text-align: center

// Buttons
.button-link
  display: inline-block
  padding: 5px 10px
  border: 1px solid #777
  background: #333 image_url("site/btn-gradient.png") center left repeat-x
  color: $primary-bg-color
  font-size: $primary-body-size + 2
  line-height: $primary-body-size +2
  &:hover
    background: #000 image_url("site/btn-gradient.png") center left repeat-x
    text-decoration: none

// Comment Rating Buttons
.thumb-up, .thumb-down, .likes-tally
  border: 1px solid #ccc
  display: block
  float: left
  height: 16px
  margin-right: 2px
.thumb-up, .thumb-down
  background-color: $primary-bg-color
  background-position: center 
  background-repeat: no-repeat
  width: 24px
  &:hover
    background-color: #ccc
.thumb-up
  background-image: image_url("site/thumb-up.gif") 
.thumb-down
  background-image: image_url("site/thumb-down.gif")
.likes-tally
  font-size: 11px
  line-height: 16px
  padding: 0 4px


// Moderator Styles
.mod-flag-wrap
  position: relative
  z-index: 2
.flag-wrap
  display: inline-block
  position: relative
  z-index: 1
  .flag-toggle
    position: relative
    z-index: 2
  .flag-box
    background: $primary-bg-color
    border: 1px solid #ccc
    box-shadow: $box-shadow
    padding: 30px 10px 10px
    position: absolute
    top: -11px
    right: -11px
    z-index: 1




// Tags
.top-tags
  > ul
    > li
      float: left
      margin: 0 5px 10px
      font-size: 11px
      color: $tertiary-header-color
      > a
        font-size: $primary-body-size

// Item Details Page
#item-details
  h1, h2, h3
    margin-bottom: 0
  .item-block, .meta-data
    margin-bottom: 20px

.arrow, .arrow-inner
  display: block
  position: absolute
  border-top-color: transparent
  border-right-color: transparent
  border-bottom-color: transparent
  border-left-color: transparent
  border-style: solid
  height: 0
  width: 0

// Comment Thread
.comment-thread-wrap
  padding: 0 20px
  margin-bottom: $gutter
  .comment-block
    margin-bottom: 10px
    .comment-bubble
      border: 2px solid #eee
      padding: 20px
      position: relative
      .arrow
        border-width: 16px
        border-top-color: #eee
        border-right-color: #eee
        bottom: -32px
        left: 16px
        .arrow-inner
          border-width: 16px
          border-top-color: $primary-bg-color
          border-right-color: $primary-bg-color
          top: -21px
          left: -18px
    .comment-meta-data
      height: 40px
      padding-top: 10px
      padding-left: 60px
      position: relative
      z-index: 1
      .profile-pic
        float: left
        margin-right: 10px
      .meta-data-actions
        padding-top: 4px
      .mod-flag-wrap
        float: right

// Post Comment
.post-comment
  .panel-bar
    margin-bottom: 0
  .form-wrap
    margin-bottom: $gutter
    fieldset
      padding: 0 4px
    textarea
      margin: 0
      margin-left: -3px
      border: 1px solid #ccc
      width: 100%

// Permalink
#link-to-item
  .item-block
    margin-top: -10px
    background: #f0f0f0
    padding: 10px 12px
    input.text-field
      margin-left: -2px
      border: 1px solid #ccc
      height: 20px
      width: 100%


// refine search 
.refine-search-wrap
  font-size: 11px
  float: right
  position: relative
  z-index: 2
  top: 2px
.refine-wrap
  display: inline-block
  position: relative
  z-index: 1
  .refine-toggle
    position: relative
    z-index: 2
  .refine-box
    background: $primary-bg-color
    border: 1px solid #ccc
    box-shadow: $box-shadow
    padding: 30px 10px 10px
    position: absolute
    top: -11px
    right: -11px
    z-index: 1

// pagination
.pagination
  text-align: right
  margin-bottom: $gutter
  font-size: $primary-body-size
  a, span
    display: inline-block
    padding: 2px
  a
    color: $primary-btn-bg
  span
    &.disabled
      color: #666
      background: none
      &:hover
        text-decoration: none
        cursor: default
    &.current
      color: #fff
      background: $primary-btn-bg
      border: 1px solid $primary-btn-bg

// Ads
.ad_160, .ad_200, .ad_250, .ad_300, .ad_336, .ad_468, .ad_728
  background-color: $tertiary-bg-color
  margin: 0 auto
  margin-bottom: $gutter
  padding: 15px 5px 5px
  .test-frame
    background-color: $primary-bg-color
    height: 80px
    width: 100%
    &.sky-scraper
      height: 600px
  iframe, html, body
    padding: 0
    margin: 0
#adspace
  +grid(12)
.ad_160
  width: 160px
.ad_200
  width: 200px
.ad_250
  width: 250px
.ad_300
  width: 300px
.ad_336
  width: 336px
.ad_468
  width: 468px
.ad_728
  width: 728px

// predictions
.prediction-details 
  .item-details
    margin-bottom: $gutter * .5
  .vote-options
    border: 1px solid #ccc
    padding: 10px 10px 0
    margin-bottom: 10px
    ul
      display: inline-block
      width: 100%
      margin: 0 
      padding: 0
    li
      background-color: #999
      float: left
      width: 100%
      padding: 5px 0
      margin-bottom: 10px
    .vote-opt-list
      ul
        margin-bottom: 10px
      li.option-item
        &:hover
          background-color: #666
        label
          display: block
          padding:  $gutter * .5 $gutter * .5 $gutter * .5 $gutter * 1.15
          font-weight: bold
        input
          float: left
          margin: $gutter * .5 0 $gutter * .5 $gutter * .25
    .results-list
      li.results-item
        background-color: #999
        &.user-choice
          background-color: #666
        .numbers
          float: left
          width: 30%
          span
            text-align: center
            display: block
            padding: 5px
            font-weight: bold
        .voter-profiles
          margin-left: -1px
          border-left: 1px solid $primary-bg-color
          float: left
          width: 70%
          .profile-pic
            margin: 0 0 0 10px
  .pred-nav-bar
    padding: 5px 0
    background-color: #f1f1f1
    display: inline-block
    width: 100%
    margin-bottom: 10px
    
    a
      color: $primary-link-color
      display: inline-block
      font-weight: bold
      padding: 0 5px
      
      &.previous
        float: left
      &.next
        float: right


// footer ----------------------------- //
#footer
  border-top: 1px solid $secondary-border-color
  float: left
  padding-top: $gutter /2
  width: 960px
  background-color: $tertiary-bg-color
  .footer-panel
    +grid(4)
    margin-bottom: $gutter

// jquery related css ----------------- //
// flash errors
.flash
  margin: 0 auto
  clear: both
  z-index: 900
  position: relative
  p
    position: absolute
    top: -5px
    width: 80%
    padding: 5px
    margin: 0 10%
    font-weight: bold
    font-size: 13px
    display: block
    text-align: center
    color: $primary-bg-color
  &.flash_error
    p
      border: $flashErrorBorder
      background: $flashErrorBG
  &.flash_success
    p
      border: $flashSuccessBorder
      background: $flashSuccessBG
  &.flash_notice, &.info
    p
      border: $flashNoticeBorder
      background: $flashNoticeBG
  &.flash_warning
    p
      border: $flashWarningBorder
      background: $flashWarningBG

/* Clear Floats and Fixes */
.clear 
  clear: both
  display: block
  overflow: hidden
  visibility: hidden
  width: 0
  height: 0

.clearfix:after 
  clear: both
  content: ' '
  display: block
  font-size: 0
  line-height: 0
  visibility: hidden
  width: 0
  height: 0

* html .clearfix, *:first-child+html .clearfix 
  zoom: 1



