// News Cloud Default Skin #1 ----------------------------- //
// 

// Site Skin Variables ------------------------------------ //
//

// Colors --------------------------------- //

// Background Colors
$primary-bg-color: #FFFFFF
$secondary-bg-color: #3B5998
$tertiary-bg-color: #F1F1F1
// Border Colors
$primary-border-color: #253E72
$secondary-border-color: #6078A9
// Header Colors
$primary-header-color: #000000 
$secondary-header-color: #333333
$tertiary-header-color: #666666  
// Text Colors
$primary-body-color: #333 
$secondary-body-color: #555 
$tertiary-body-color: #777 
// Link Colors
$primary-link-color: #2462E2 
$secondary-link-color: #2462E2 
$tertiary-link-color: #2462E2 
$link-hover-lightness: -50%
// Tab Colors
$primary-tab-off: $secondary-bg-color
$primary-tab-on: $primary-bg-color
$tab-border-lightness: -35%
// Button Colors
$primary-btn: $secondary-bg-color
$secondary-btn: #2462E2
$tertiary-btn: #ff00ff

// Fonts & Text Sizes --------------------- //
// Header Font
$primary-header-font: lucida grande, tahoma, verdana, arial, "san-serif"
// Body Font
$primary-body-font: lucida grande, tahoma, verdana, arial, "san-serif"
$primary-body-size: 12px
$primary-line-height: 150%
// Header Font Sizes
$h1-size: 22px
$h2-size: 18px
$h3-size: 14px
$h4-size: 14px
$h5-size: 12px
$h6-size: 11px

// System Skin Options ------------------------------------ //
//

// Message Flash Variables ---------------- //
$flashErrorBorder: 2px solid #640000
$flashErrorBG: #bc0b0b
$flashSuccessBorder: 2px solid #296003
$flashSuccessBG: #54be0d
$flashNoticeBorder: 2px solid #0B5B9E
$flashNoticeBG: #3b91ae
$flashWarningBorder: 2px solid #b46a06
$flashWarningBG: #f79410