// NewsCloud Default Skin #1 ------------------------------ //
//
// Site Skin Variables ------------------------------------ //
// 
// Colors --------------------------------- //
// Background Colors
$primary-bg-color: #FFFFFF
$secondary-bg-color: #3B5998
$tertiary-bg-color: #F1F1F1
// Border Colors
$primary-border-color: #253E72
// Header Colors
$primary-header-color: #000
$secondary-header-color: #3B5998
$tertiary-header-color: #666666  
// Text Colors
$primary-body-color: #333 
$secondary-body-color: #555 
$tertiary-body-color: #777 
// Link Colors
$primary-link-color: #2462E2 
$secondary-link-color: #2462E2 
$tertiary-link-color: #2462E2 
// Tab Colors
$primary-tab-off: #3B5998
$primary-tab-on: #FFFFFF
$tab-border-lightness: -35%
$tab-bg-lightness: -20%
$tab-hover-lightness: 20%
// Button Colors
$primary-btn: #3B5998
$secondary-btn: #428519
$tertiary-btn: #666

// Fonts & Text Sizes --------------------- //
// Header Font
$primary-header-font: lucida grande, tahoma, verdana, arial, "san-serif"
// Body Font
$primary-body-font: lucida grande, tahoma, verdana, arial, "san-serif"
$primary-body-size: 12px
$primary-line-height: 150%

// Header / Logo / Sponsor -------------------------------- //
//
// Header --------------------------------- //
$header-image: image_url("skin/bg-header.gif")

// Site Name ------------------------------ //
$site-name-image: image_url("skin/header-logo.png")
// Logo Position
$site-name-y-position: 50px
$site-name-x-position: 50px
// Logo Dimensions
$site-name-height: 60px
$site-name-width: 300px
// Logo Text Options
$site-name-text-color: #FFF
// Logo Text Hide (-9999px or 0px)
$hide-text: -9999px

// Sponsor -------------------------------- //
$sponsor-image: image_url("skin/sponsor.png")
// display - none or block
$sponsor-hide: none
// Sponsor Position
$sponsor-y-position: 0
$sponsor-x-position: 0
// Sponsor Dimensions
$sponsor-height: 0
$sponsor-width: 0

// System Options ----------------------------------------- //
// Message Flash Variables ---------------- //
$flashErrorBorder: 2px solid #640000
$flashErrorBG: #BC0B0B
$flashSuccessBorder: 2px solid #296003
$flashSuccessBG: #54BE0D
$flashNoticeBorder: 2px solid #0B5B9E
$flashNoticeBG: #3B91AE
$flashWarningBorder: 2px solid #B46A06
$flashWarningBG: #F79410