#full-col
  = render :partial => 'shared/tests/featured_3_col'
#left-col
  = render :partial => 'shared/tests/featured_2_col'
  = render :partial => 'shared/tests/list_2_col'
#right-col
  = render :partial => 'shared/tests/featured_1_col'
