-# @expects: local '@classifieds','@count'
- @count ||= 7
- cache "widget_classifieds_#{@sort}_#{@count}_html", :expires_in => 60.minutes do
  - unless @classifieds.empty?
    %div{:class => "panel_1"}
      = render :partial => 'widgets/titlebar', :locals => {:hide_titlebar => @hide_titlebar, :title => @title, :canvas_preference => @canvas_preference}
      .list_items
        %ul
          - @classifieds.each do |item|
            %li
              = render :partial => 'shared/items/widget_classified', :locals => {:item => item, :canvas_preference => @canvas_preference}
