providers:
  twitter:
    key: "consumer_key"
    secret: "consumer_secret"
  facebook:
    key: "app_id"
    secret: "app_secret"
    options:
      client_options:
        ssl:
          ca_path: "/etc/ssl/certs"
