#secondary-navigation
  %ul
    %li{:class => "tab #{sub_tab_selected?(@current_sub_tab, 'weekly')}"}
      = link_to t('top_users.weekly'), top_users_path(:top => 'weekly')
    %li{ :class => "tab #{sub_tab_selected?(@current_sub_tab, 'alltime')}"}
      = link_to t('top_users.alltime'), top_users_path(:top => 'alltime')
