- cache :gallery_big_image_html do
  - gallery ||= Gallery.featured.first || Gallery.top.first
  - if gallery
    .panel-1
      .panel-bar
        %h2= t('galleries.featured_title', :gallery_title => gallery.title)
      .subtitle
        = link_to t('galleries.see_full_gallery'), gallery_path(gallery)
      .gallery-content.clearfix
        .single-gallery-item= link_to image_tag(gallery.medium_url, :alt => gallery.item_title), gallery.full_url,  :title => gallery.item_description
        %ul.hidden
          - gallery.gallery_items.slice(1,10).each do |gallery_item|
            %li.hide-strong= link_to image_tag(gallery_item.thumb_url, :alt => gallery_item.item_title), gallery_item_path(gallery_item), :title => gallery_item.item_description
