#left-col
  .panel-2
    .panel-bar
      %h2
        Add a Related Item
    = render :partial => 'shared/forms/related_item_form' , :locals => { :relatable => @relatable }

#right-col
  = render_ad(:small_square, @ad_layout, @ad_small_square)
  = render_ad(:skyscraper, @ad_layout, @ad_skyscraper)
